.button {
    background-color: #3f51b5;
	border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    cursor: pointer;
	background-color: #707cb5;
}

.table {
	border-collapse: collapse;
	border: 2px solid black;
	margin-left: 40px;
}

.tableColumn {
	border: 1px solid black;
	padding: 8px 8px;
}

.insightContainer {
	margin-left: auto;
	margin-right: auto;
}

.insightButton {
	background-color: #3f51b5;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.insightButton:hover {
	cursor: pointer;
	background-color: #707cb5;
}

.insightButton.active {
	background-color: #9eabe6;
}

.viewButton {
	background-color: #3f51b5;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	align-self: flex-end;
	font-size: 16px;
}

.viewButton:hover {
	cursor: pointer;
	background-color: #707cb5;
}

.removeButton {
	background-color: darkred;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	align-self: flex-end;
	font-size: 16px;
}

.removeButton:hover {
	cursor: pointer;
	background-color: #c30000;
}

.topBar {
	background-color: #3f51b5;
	padding: 15px 32px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
}

.datasetContainer {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 32px;
	background-color: #96adb5;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: left;
	text-decoration: none;
	font-size: 16px;
}

.container {
	background-color: white;
	padding: 32px 32px;
	margin-left: auto;
	margin-right: auto;
}

.subContainer {
	background-color: white;
	padding: 32px 32px;
	margin-left: auto;
	margin-right: auto;
}

.header1 {
	font-size: x-large;
	color: white;
}

.header1-5 {
	font-size: medium;
	color: white;
}

.header2 {
	font-size: large;
	color: black;
}

.header3 {
	padding-bottom: 4px;
	font-size: small;
	color: black;
}

.text {
	font-family: Verdana, sans-serif;
}

.bold {
	font-weight: bold;
}

.border {
	border: 4px solid black;
	border-radius: 4px;
}

.plot {
	margin-left: auto;
	margin-right: auto;
}
